<!-- Describe task in general -->

<p>
    Тобі дано двовимірну матрицю: {% if is_js %}масив масивів{% else %}список списків{% endif %} цілих чисел. Твоя функція повинна повернути інший {% if is_js %}масив масивів{% else %}ітеративний об'єкт зі списків{% endif %}, де кожен внутрішній {% if is_js %}масив{% else %}список{% endif %} є послідовністю матричних елементів на одному діагональному "штриху". Порядок елементів у "штриху" - це ПдЗх -> ПнСх. Отже, побудова цих послідовностей - це як "заштриховування" матриці!
</p>
<p>
    Давай подивимось на приклад. Матриця може бути НЕ квадратною!
</p>
<pre>
     ->[1]
    /  ->[4, 2]
   /  /  ->[7, 5, 3]
  /  /  / _->[8, 6]
[1, 2, 3]/_->[9]
[4, 5, 6]/
[7, 8, 9]
</pre>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> {% if is_js %}Масив з масивів{% else %}Список зі списків{% endif %} цілих чисел.
</p>

<p>
    <strong>Вихідні дані:</strong> {% if is_js %}Масив з масивів{% else %}Список або інший ітеративний об'єкт (генератор, ітератор) списків{% endif %} цілих чисел. 
</p>


<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

